table {
    width: 90%;
}

tr.roomRow:hover{
    font-weight: bold;
    background-color: rgb(236, 236, 236);
}

button.delete:hover {
    color: red;
    font-weight: bold;
    background-color: rgb(209, 209, 209);
    border: 1px solid rgb(179, 179, 179);
    border-radius: 15px;
}

#deleteButton{
    font-size: 18px;
}

#deleteButton:hover{
    font-size: 20px;
    color: rgb(255, 60, 0);
}

#addButton{
    width: 22px !important;
    height: 22px !important;
    line-height: 22px !important;
    color: rgb(175, 175, 175);
}

#addButton:hover{
    color: rgb(90, 90, 90);
}

button#addButton {
    margin-left: 8px;
    border-radius: 25px;
}

#layout {
    display: grid;
}

#choosRoom {
    grid-area: 1 / 1 / 2 / 2
}

#createRoom {
    grid-area: 1 / 2 / 2 / 6
}