table {
    width: 25%;
}

tr.roomRow:hover{
    font-weight: bold;
    background-color: rgb(236, 236, 236);
}

button.delete:hover {
    color: red;
    font-weight: bold;
    background-color: rgb(209, 209, 209);
    border: 1px solid rgb(179, 179, 179);
    border-radius: 15px;
}

input {
    padding: 2px;
    font-size: 100%;
    border: none;
    border-bottom: 1px solid rgb(165, 165, 165);
}

button#addButton {
    padding: 6px;
    font-size: 100%;
    margin-left: 8px;
    border-radius: 35%;
}

button#addButton:hover {
    font-weight: bold;
    background-color: rgb(250, 255, 242);
}

#layout {
    display: grid;
}

#choosRoom {
    grid-area: 1 / 1 / 2 / 2
}

#createRoom {
    grid-area: 1 / 2 / 2 / 8
}