<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div id="layout">
<div id="choosRoom">
<h2>Choose a room</h2>

<table mat-table [dataSource]="rooms" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id. </th>
    <td mat-cell *matCellDef="let room"> {{room.id}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let room">{{room.name}}</td>
  </ng-container>

  <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef style="text-align: center"> Delete </th>
        <td mat-cell *matCellDef="let room">
          <div style="text-align: center">
              <swal
              #deleteSwal
              title="Really want to delete room: <br /> {{ room.name }} [Id: {{ room.id }}]?"
              text="This cannot be undone"
              type="question"
              [showCancelButton]="true"
              [focusCancel]="true"
              (confirm)="deleteRoom(room.id)">
            </swal>
            <button mat-icon-button disabled>
              <mat-icon [swal]="deleteSwal" id="deleteButton">clear</mat-icon>
            </button>
            <!--button class="delete" [swal]="deleteSwal">x</button-->
          </div>
        </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="roomRow" (click)="joinRoom(row.id);" routerLink='/room/{{row.id}}'></tr>
</table>
</div>

<div id="createRoom">
<h2>Create a new Room:</h2>
<form (ngSubmit)="createRoomCheck(roomName); roomName = ''">
  <mat-form-field>
    <input matInput #name (focus)="focused = true" (blur)="focused = fales" placeholder="Enter a room name..." name="roomName" [(ngModel)]="roomName" autocomplete="off" maxlength="20">
    <mat-hint *ngIf="focused || roomName" align="end">{{name.value.length}} / 20</mat-hint>
  </mat-form-field>
  <button mat-icon-button *ngIf="roomName" (click)="ngSubmit" id="addButton">
      <mat-icon style="font-size: 24px">add_circle</mat-icon>
  </button>
</form>
</div>
</div>